.inventory-container {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  padding: 2rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

h2 {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.inventory-container select {
  padding: 0.5rem 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.inventory-grid {
  column-count: 2;
  column-gap: 20px;
  padding: 0 0.5rem;
}

.clothing-item {
  display: inline-block;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 125px;
  break-inside: avoid;
  text-align: center;
  margin-bottom: 1rem;

}

.clothing-item img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  margin-bottom: 0rem;
}

.clothing-item p {
  margin: 0;
  font-weight: 500;
  font-size: 0.95rem;
  color: #333;
}

.clothing-item button {
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  background-color: #504B38;
  color: white;
  border: none;
  border-radius: 6px;
}

.clothing-item button:hover {
  background-color: #756e54;
}


.no-items-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: #504B38;
}




/* Confirmation Modal */
.confirm-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirm-modal {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.confirm-modal button {
  margin: 10px 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-modal .confirm-btn {
  background-color: #800000;
  color: white;
}
.confirm-modal .confirm-btn:hover {
  background-color: #a10000;
}



/* PREVIEW IMAGE MODAL */
.preview-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.preview-modal {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-modal img {
  max-width: 85vw;
  max-height: 60vh;
  object-fit: contain;
  border-radius: 8px;
}

.close-preview-btn {
  margin-top: 1rem;
  padding: 8px 16px;
  background-color: #504b38;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-preview-btn:hover {
  background-color: #756e54;
}


