/* === Global Styles (Shared Across App) === */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #222;
}

h2, h3, h4 {
  font-weight: 600;
  margin-bottom: 1rem;
}



/* TITLE */

.title-name {
  font-size: 64px;
    letter-spacing: -5px; /* Adjust this value to control spacing */

  /* text-shadow:
    -0.5px -0.5px 0 black,  
     0.5px -0.5px 0 black,
    -0.5px  0.5px 0 black,
    0.5px  0.5px 0 black;  */
      /* -webkit-text-stroke: 0.1px black;  */

}
.title-1 {
  color:#626F47;

}

.title-2 {
  color: #BAD8B6;

}

.register-title {
  font-size: 64px;
  color:#626F47;
  
}






/* BUTTONS */
button, select, input[type="file"], input[type="text"], input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  background-color: #BAD8B6;
  color: #504B38;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #E1EACD;
}



.back-button {
  height: 2.5rem;
  width: 4.5rem;
  margin: 0;
  padding: 0;
  background-color: #626F47;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.back-button:hover{
  background-color: #6F826A;

}


.warning-button {
  background-color: #504B38;
  color: white;
}

.warning-button:hover {
  background-color: #756e54;
}

